.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: -250px;
  width: 295px;
  height: 100%;
  background-color: #181616;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  color: antiquewhite;
  z-index: 100;
}

  .sidebar.open {
    position: fixed;
    left: 0;
  }

  .sidebar a {
    position: relative;
    top: 0;
    right: 25px;
    font-size: 36px;
    color: beige;
    margin-left: 50px;
  }

  .sidebar ul{
    list-style:none;
    padding:0;
    margin:0;
  }

  .sidebar li{
    margin-bottom:10px;
  }

.open-button:focus,
.close-button:focus {
  outline: none;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 7px;
  font-size: 36px;
  color: #dad3d3;
  background-color: #181616;
  border: none;
}

