@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */

@font-face {
  font-family: 'OpenDyslexic';
  src: url('/fonts/OpenDyslexic-Regular.otf') format('opentype');
}

body {
  font-family: 'OpenDyslexic', sans-serif;
}

/* 
@layer base {
  :root {
    --color-content: 15, 15, 15;
    --color-background: 217, 217, 217;
    --color-background-2: 15, 15, 15;
    --color-accent1: 198, 116, 231;
    --color-accent2: 10, 194, 179;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-content: 217, 217, 217;
    --color-background: 15, 15, 15;
    --color-background-2: 15, 15, 15;
    --color-accent1: 198, 116, 231;
    --color-accent2: 10, 194, 179;
  }
}
*/